<table class="table">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>FullName</th>
        <th>Email</th>
        <th>IsVerified</th>
        <th>VerificationStatus</th>
        <th>Verify</th>
        <th>Decline</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of postalList">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.fullName}}</td>
            <td>{{item.email}}</td>    
            <td>{{item.isVerified}}</td>
            <td>{{status[item.verificationProgress!]}}</td>
            <td *ngIf="item.verificationProgress == 0"><button class="btn btn-dark" (click)=Verify(item.id!)>Accept</button></td>
            <td *ngIf="item.verificationProgress == 0"><button class="btn btn-dark" (click)=Decline(item.id!)>Decline</button></td>
        </tr>
    </tbody>
</table>